parameters:
    level: 1
    bootstrapFiles:
        - phpstan/bootstrap.php
    scanFiles:
        - phpstan/stubs/aws-s3.stub
    stubFiles:
        - phpstan/stubs/aws-s3.stub
    ignoreErrors:
        -
            message: '#^Call to an undefined static method Flight::[a-zA-Z0-9_]+\(\)\.$#'
            identifier: staticMethod.notFound
    parallel:
        maximumNumberOfProcesses: 1
    paths:
        - src
        - plugins
        - cli
    excludePaths:
        analyse:
            - storage (?)
            - vendor (?)
            - public (?)
            - node_modules (?)
