{if !empty($archives)}
{var $title = isset($params['title']) ? (string) $params['title'] : 'Archive'}
<div class="widget widget-archive">
    {if $title !== ''}<h3 class="widget-title">{$title}</h3>{/if}
    <ul class="archive-list">
        {foreach $archives as $archive}
        <li>
            <a href="/blog?month={$archive['month']}">{$archive['month']|date:'F Y'}</a>
            <span class="count">({$archive['count']})</span>
        </li>
        {/foreach}
    </ul>
</div>
{/if}
