{if !empty($categories)}
{var $title = isset($params['title']) ? (string) $params['title'] : 'Categories'}
<div class="widget widget-category-list">
    {if $title !== ''}<h3 class="widget-title">{$title}</h3>{/if}
    <ul class="category-list">
        {foreach $categories as $cat}
        {if !$cat['parent_id']}
        <li>
            <a href="/category/{$cat['slug']}">{$cat['name']}</a>
            {if $cat['post_count'] > 0}<span class="count">({$cat['post_count']})</span>{/if}
        </li>
        {/if}
        {/foreach}
    </ul>
</div>
{/if}
