{if !empty($items)}
<ul class="menu-list">
    {foreach $items as $item}
    <li class="menu-item {$item['css_class'] ?? ''} {!empty($item['children']) ? 'has-children' : ''}">
        <a href="{$item['url'] ?? '#'}">{$item['label']}</a>
        {if !empty($item['children'])}
        <ul class="sub-menu">
            {foreach $item['children'] as $child}
            <li class="menu-item {$child['css_class'] ?? ''}">
                <a href="{$child['url'] ?? '#'}">{$child['label']}</a>
            </li>
            {/foreach}
        </ul>
        {/if}
    </li>
    {/foreach}
</ul>
{/if}
