{if !empty($tags)}
{var $title = isset($params['title']) ? (string) $params['title'] : 'Tags'}
<div class="widget widget-tag-cloud">
    {if $title !== ''}<h3 class="widget-title">{$title}</h3>{/if}
    <div class="tag-cloud">
        {foreach $tags as $tag}
        <a href="/tag/{$tag['slug']}" class="tag-cloud-item"
           style="font-size: {min(1.8, 0.8 + ($tag['post_count'] * 0.1))}em">
            {$tag['name']}
        </a>
        {/foreach}
    </div>
</div>
{/if}
